body {
    margin:0;
    box-sizing: border-box;
    background-color: #faf2e4;
}

/*HEADER SECTION*/

/* El header ocupa el ancho completo y una altura fija */
.header {
    position: relative;
    width: 100%;
    height: 478px;
    overflow: hidden;
}

/* Imagen se estira horizontalmente, pero mantiene altura */
.header__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 478px;
    width: 100%;
    object-fit: cover; /* Escala la imagen sin deformarla, recortando si hace falta */
    z-index: 1;
}

/* El contenido va centrado por encima de la imagen */
.header__content {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 160px 0;
    text-align: center;
    color: #faf2e4;
    text-wrap: balance;
}

.item-container {
    position: relative;
    z-index: 10;
    margin: auto;
}

h1 {
    margin: 0px;
    text-align: center;
    font-family: 'Unlock', sans-serif;
    font-weight: 400;
    font-size: 120px; 
    letter-spacing: -0.04em;        /* Cuidado: -3% no es válido directamente */
}

.Introduccio {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 30px;
}

/*BARRA DE NAVEGACION*/

.nav {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf2e4;
    position: sticky;
    top: 0px;
    flex: auto;
    flex-direction: row;
    box-shadow: 0px 0px 25px #52250442;
    z-index: 10;
}

.contenedor__botons {
    flex: 1 1 0;
    flex-wrap: nowrap;
    text-align: left;
    margin-left: 30px;
    position: relative;
    min-width: 88px;
}

.btn__cabecera {
    all: unset; /*quitamos los estilos predefinidos del botón*/ 
    cursor: pointer;
}

.nav__logo  {
    width: 30px;
    text-decoration: none;  
    flex-wrap: wrap;
    padding-right: 10px;
}

/*Productes, Historia, Comunitat, Contacte*/

.nav__ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 10px;
    list-style: none;
}

.nav__item {
    list-style: none;
    align-items: center;
    padding: 2px 4px;
    text-decoration: none;
}

.nav__item:hover {
    background-color: #FFCC38;
    border-radius: 30px;
    transition: background-color 0.2s;
}


.nav__link, .nav__acceso, .link__interno {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    color: #522504;
    padding: 5px;
}

.link__interno{
    padding: 0px;
    margin: 0px;
}

.nav__acceso:hover .nav__link { /*El color de la letra afecta a la etiquetra <a> y no al <li> como el background, por eso lo tenemos que definir aparte*/ 
    color: #FFEAC8;
}

.contenedor__compra {
    all: unset; /*quitamos los estilos predefinidos del botón*/ 
    cursor: pointer;
    flex: 1 1 2;
    align-items: right;
    gap: 15px;
    margin-right: 7px;

}

.contenedor__registro {
    flex: 1 1 1;
    text-align: center;
    flex-wrap: nowrap;
    margin-right: 30px;
    position: relative;
    min-width: 200px;
}

.nav__acceso {
    background-color: #FFEAC8;
    border: 1px solid #BF6A02;
    border-radius: 18px;
    padding-bottom: 0px;
}

.nav__acceso:hover {
    background-color: #522504;
    border: 1px solid #522504;
    border-radius: 18px;
    transition: background-color 0.2s;
}

/* Cuando la pantalla es pequeña */
@media (max-width: 520px) {
    .nav {
        flex-direction: column; /* Los elementos en columna */
        align-items: center; /* Centrar todo */
        justify-content: center;
        gap: 10px; /* Separación vertical */
        position: relative;
    }

    .contenedor__botons,
    .contenedor__links,
    .contenedor__compra,
    .contenedor__registro {
        flex-grow: 0; /* No estiren más de lo necesario */
        text-align: center;
    }

    .nav__ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .contenedor__botons {
        margin: 10px 0px 0px 0px ;
    }

    .contenedor__registro {
        margin: 0px 0px 10px 0px;
    }
}

/*SECCIÓN PRINCIPAL CARTAS*/

.titulo__secc {
    color: #522504;
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0px 15px 30px;
    font-family:'Bricolage Grotesque';
}

.secc__cards {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: 'Bricolage Grotesque';
    margin: 40px 20px 100px 20px;
    
}

.item__card {
    background-color: #FFE598;
    width: 360px;
    height: auto;
    border-radius: 30px;
}

.info__superior {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 15px;
}

.add {
    height: 30px;
}

.button__add {
    all: unset; /*quitamos los estilos predefinidos del botón*/ 
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 3px solid transparent; 
    border-radius: 10px;
    transition: border-color .2s ease;
}

.button__add:hover {
    border-color: #4020086a; 
}

.price {
    font-size: 25px;
    color: #522504;
    font-weight: bold;
    margin: 0px;
}

.center__card {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 5px;
}

.product__pic {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.info__inferior {
    justify-content: baseline;
    align-content: start;
}

.text__card {
    margin: 0px 20px;
    font-weight: bold;
    color: #522504;
}

#product {
    font-size: 20px;
}

#origen {
    font-size: 15px;
}

#weight {
    font-size: 15px;
    margin-bottom: 15px;
}

/*PIE DE PAGINA*/

.footer__inner{
    max-width: auto;
    padding: 24px 100px;
    display: flex;
    gap: 50px;                        
    justify-content: space-evenly;
    flex-wrap: wrap;  
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.pie_de_pagina{
    flex: 1 1 240px;                   
    min-width: 220px;                  
    margin: 0 ;
}

/* Titulares */
.secc__titulo{
    margin: 0 0 12px 0;
    font-weight: 700;
    color: #000;;
}

/* Listas */
.secc__texto{
    list-style: none;
    padding: 0;
    margin: 0;
}

.link__pie{
    margin: 10px 0;
    color: #000;                    
    line-height: 1.45;
    cursor: pointer;
}

.link__pie:hover{
    text-decoration: underline;
}

/* Iconos RRSS en línea */
.button__rrss{
    all: unset; /*quitamos los estilos predefinidos del botón*/ 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.rrss__logo{
    width: 28px;
    height: 28px;
    opacity: .9;
    display: block;
}


/* ===== Responsive ===== */
@media (max-width: 992px){
    footer{ gap: 32px; }
}
@media (max-width: 768px){
    .pie_de_pagina{ flex: 1 1 45%; }   /* 2 columnas */
}
@media (max-width: 480px){
    .pie_de_pagina{ flex: 1 1 100%; }  /* 1 columna */
}
